
html,
body,
#document-background,
#document-content {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
body {
	background: white;
	color: black;
	font-family: Helvetica, sans-serif;
}

#document-background {
	position: fixed;
	background-color: rgba(255, 251, 242, 0.4);
	/*cursor: text?*/
}

#document-content {
	color: rgb(97, 68, 11);
	pointer-events: none;
	overflow: visible;
	width: 1000000px; /* not infinite, but oh well */
}

/*
#notif {
	position: fixed;
	right: 10px;
	top: 10px;
	border-radius: 5px;
	padding: 10px;
	pointer-events: none;
}
*/

.error {
	background: rgba(255,0,0,0.5);
}
.success {
	background: rgba(0,255,25,0.5);
}

.node {
	outline: none;
	font-size: 2em;
	pointer-events: all;
	white-space: nowrap;
}
.debug .node {
	background: rgba(255, 255, 0, 0.3);
}

#signed-in,
#user {
	display: flex;
	flex-direction: row;
	align-items: center;
}
header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
}
header > .mdl-layout__header-row {
	background: white;
	color: black;
	padding: 0 5px;
}
#document-title {
	flex: 1;
	font-size: 1.8rem;
	font-weight: bold;
	color: rgb(97, 68, 11);
	/*color: rgb(138, 76, 16);*/
}
#document-title-input,
#document-title-placeholder {
	font-size: 1.8rem;
	font-weight: bold;
}
#document-title-input {
	border-bottom: 0;
}
#document-title {
	border: 0;
	background: none;
}
#document-title-placeholder {
	color: black;
	opacity: 0.4;
	margin: 0;
	padding: 4px 0;
}
#sign-in,
#signed-in,
#user,
#user-name {
	margin: 0 0.3rem;
}
#user-image {
	height: 2rem;
	border-radius: 50%;
}
#formatting > button > span {
	display: none;
}
#formatting > button {
	padding: 0.5rem 0.3rem;
	font-size: 1rem;
}
#new-document {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.2rem;
	margin-left: 0.5rem;
}
#new-document > img {
	vertical-align: middle;
	pointer-events: none;
}
